services:
  postgres:
    image: postgres:15-alpine
    container_name: myapp-postgres
    environment:
      POSTGRES_DB: myapp
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d myapp"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    command: redis-server --appendonly yes

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
#  product-service:
#    build:
#      context: ../backend/product-service
#      dockerfile: Dockerfile
#    container_name: product-service
#    ports:
#      - "8070:8070"
#    environment:
#      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/myapp
#      SPRING_DATASOURCE_USERNAME: postgres
#      SPRING_DATASOURCE_PASSWORD: root
#    depends_on:
#      postgres:
#        condition: service_healthy
#
#  user-service:
#    build:
#      context: ../backend/user-service
#      dockerfile: Dockerfile
#    container_name: user-service
#    ports:
#      - "8071:8071"
#    environment:
#      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/myapp
#      SPRING_DATASOURCE_USERNAME: postgres
#      SPRING_DATASOURCE_PASSWORD: root
#    depends_on:
#      postgres:
#        condition: service_healthy
#
#  order-service:
#    build:
#      context: ../backend/order-service
#      dockerfile: Dockerfile
#    container_name: order-service
#    ports:
#      - "8072:8072"
#    environment:
#      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/myapp
#      SPRING_DATASOURCE_USERNAME: postgres
#      SPRING_DATASOURCE_PASSWORD: root
#    depends_on:
#      postgres:
#        condition: service_healthy

volumes:
  postgres_data: